body {
	min-width: 320px;
	font-weight: 400;
	font-size: 18px;
	color: #000;
	background-color: #ebebeb;
	padding-top: 61px;
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;
}

@media (max-width: 767px) {
	body {
		padding-top: 50px;
	}
}
