.form {
	padding: 10px 20px;
	background-color: #fff;

	.form__inner {
		background-color: #ebf6fb;
		padding: 15px 40px 20px 15px;
		border-radius: 4px;
	}

	.form__rows {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.form__rows--two-columns {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
	}

	.form__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		gap: 10px;
	}

	/* .form__row + .form__row {
		margin-top: 25px;
	} */

	.form__row label {
		color: #14509c;
		font-weight: 600;
		flex: 0 0 6%;
	}

	.form__rows--two-columns .form__row label {
		flex: 0 0 9%;
	}

	.form__row input {
		flex: 1;
		height: 40px;
		padding: 0 10px;
		font-size: 16px;
		border: 1px solid #b4c6d2;
		border-radius: 2px;

		&:focus {
			outline: 0;
			border-color: #66afe9;
		}
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	.form__row button {
		position: absolute;
		top: 50%;
		right: -40px;
		transform: translate(-50%, -50%);
		cursor: pointer;
		height: 25px;
		width: 25px;
		background: transparent;
		border: none;

		&:before,
		&:after {
			content: "";
			position: absolute;
			width: 2px;
			height: 15px;
			top: 50%;
			left: 50%;
			background-color: #999;
		}

		&:before {
			transform: translate(-50%, -50%) rotate(45deg);
		}

		&:after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}

	.form__actions {
		margin-top: 20px;
		position: relative;
	}

	.form__actions .form__select {
		position: absolute;
		top: 50%;
		left: 25%;
		transform: translateY(-50%);
		width: 75%;
		z-index: 1000;
		background: white;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	}

	.form__actions button {
		background-color: transparent;
		border: none;
		font-size: 16px;
		font-weight: 600;
		color: #14509c;
		cursor: pointer;
	}

	.form__buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.form__add-btn {
		display: flex;
		gap: 10px;
	}

	.form__buttons span {
		display: inline-block;
		width: 20px;
		height: 20px;
		border: 2px solid #14509c;
		border-radius: 50%;
		position: relative;

		&:before,
		&:after {
			position: absolute;
			content: "";
			background-color: #14509c;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&:before {
			width: 9px;
			height: 2px;
		}

		&:after {
			height: 9px;
			width: 2px;
		}
	}
}
