@import "./styles/shell.css";
@import "./styles/base.css";
@import "./styles/header.css";
@import "./styles/form.css";
@import "./styles/breadcrumbs.css";

/* Sections */
@import "./styles/sections/section-main.css";
@import "./styles/sections/section-listing.css";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
