.section-listing {
	margin-top: 10px;

	.section__content {
		background-color: #fff;
		padding: 10px 20px;
	}

	.section__breadcrumbs {
		background-color: #fff;
		padding: 10px 20px;
		border-bottom: 1px solid #ebebeb;
		padding-bottom: 10px;
	}
}
